@page "/result/{orderUid?}"
@model ImagesGenerator.WebPortal.Pages.ResultModel

<h1>Ваши изображения создаются</h1>

<div id="vue-app-2" data-api1url="@Model.Api1Url" data-api2url="@Model.Api2Url">
</div>