@page "/setup"
@model ImagesGenerator.WebPortal.Pages.SetupModel

@section Hero {
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Мастерская изображений</h1>
                <p class="lead">
                    Создавайте уникальные изображения для брендинга, соцсетей и рекламы.
                    Выбирайте цвета, темы и детали – быстро и просто.
                    Отличное решение для предпринимателей и креативщиков.
                </p>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden">
                <img class="d-block mx-auto mb-4" src="/hero-1.png" alt="" width="300" height="300">
            </div>
        </div>
    </div>
}


<h1>Setup</h1>

<div id="vue-app"></div>